body{
    font-family: 'Mulish', sans-serif;
    background-color: #D2D2D2;
   
}
h2{
    font-weight: bold;
    font-style: normal;
    margin-bottom: 5px;
}

.block{
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 0 15px 0 15px;
    background-image: url('https://img.freepik.com/free-vector/abstract-network-connection-dots-lines-background_120542-29.jpg?w=996');
    background-repeat: no-repeat;
    background-size: cover;
    font-size:20px;
    margin-top: 20px;
}

.navbar{
    height: 50px;
    width:100%;
    overflow:hidden;
    display: flex;
    align-items: stretch; 
    margin: 15px 0 15px 0;
}

a.navigation{
    color: #4992a3;
    font-weight: bold;
    text-decoration: none;
    display:flex;
    align-items: stretch;
}
.aboutme{
    color: #646464;
    text-decoration: none;
    font-size: 17px;
    margin: 10px;
}

.navbar a div{
    min-width: 190px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: stretch;
    flex-grow:2;
    flex-shrink: 2;
    background-color: #112D32 ;
}

.navbar a div:hover {
    background-color: #254E58;
    color: black;
  }
  
  .flexbox{
      display:flex;
      justify-content: flex-start;
      align-items:space-between;
      margin-top: 20px;
  }
  .margin-left{
      margin-left: 40px;
  }
  .flexbox-right{
    display:flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 20px;
    margin-right: 20px;
}
#soon{
    color: #646464;
    font-size: 17px;
    margin-left: 370px;
    margin-top:0;
}
.gray{
    color:#404040
}
  