@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root {
    --font-main-color: teal;
    --font-hover-color: black;
}

.header {
    font-family: "quicksand";
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0 20px 0;
    justify-content: center;
    list-style: none;
    background-color: rgb(227, 241, 241);
}

.header-link {
    padding: 0 15px;
}

.header-link a {
    text-decoration: none;
    color: var(--font-main-color);
    text-transform: uppercase;
}

.header-link a:hover {
    color: var(--font-hover-color);
}