@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

body {font-family: sans-serif;}

.about-me {

    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;

    text-align: center;
    padding-bottom: 5vh;
    padding-top: 5vh;

}

.about-me > ul {
    text-align: left;
}

.title-container {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 5px 30px;
}

.profile-img {
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 444px;
}

.pre-title { 
    font-size: 25px;
margin: 12px 0px 6px 0}

.title {
    font-size: 4vw;
margin: 6px 0;}

.vards2 {
    font-style: normal;
    text-decoration: none;
}

.navigation {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 30px;
    background-color: burlywood;
}

.navigation-item {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color:white

}
.navigation-item:hover {
    color: black
}

#about-me {background-color: antiquewhite;}
#darba-pieredze {background-color:burlywood;
        padding: 5px 30px;}
#izglitiba {background-color: antiquewhite; padding: 5px 30px;
}
#prasmes {background-color:burlywood;padding: 5px 30px;}
#valodas {background-color: burlywood; padding: 5px 30px;
}
#faq {background-color:antiquewhite;padding: 5px 30px;}
#sazinies-ar-mani {background-color: antiquewhite; padding: 2px 30px;
}

.mazie-virsraksti {font-size: 2em;}
.svitra {background-color: antiquewhite;}








