.container,
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 100px 0;
    flex-direction: column;
}

.input-group {
    margin: 0 0 50px;
}

.remove {
    cursor: pointer;
}

.task-text {
    margin: 0 15px;
}

.remove {
    width: 20px;
    height: 20px;
}
.done {
    text-decoration: line-through;
}