@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Quicksand:wght@600&family=Vesper+Libre&display=swap');
.h1 { 
   font-family: "oooh baby";
    font-size: 50px;
    overflow: hidden;
    align-content: flex-end;
   display: inline-flex;
   margin-top: 0%;
   margin-bottom: -7px;
   overflow: visible;
   position: sticky;
   padding-left: 55px;
   

   }

.h2 {
    font-family: 'Vesper Libre', serif;
    align-content: flex-start;
    justify-content: flex-start;
    padding-left: 112px;
    background-color: rgb(227, 241, 241);
    margin-top: 0%;
    margin-bottom: 2%;
    display: inline-block;
    
    
    
}

.column-left{
    
    

}
.aboutme {
   
}
.info:link {
text-decoration: none;
}

.img {
    padding-left: 30px;
    width: 15%;
    height: auto;

}
