
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Nunito+Sans&display=swap');

html 
    {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
    }

body
    {
    font-family: 'Nunito Sans', sans-serif;
    color: #1a1a1a;
    }

.navigation
    {
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    justify-content: space-around;
    padding: 20px;
    background-color: #2e293d;
    }


.navigation-item
    {
    text-decoration: none;
    color: whitesmoke;
    }

.navigation-item:hover, .address-item:hover
    {
    color: #993333;
    }

.address-item
    {
    text-decoration: none;
    color: black;
    }

#main-info
    {
    margin-top: 20px;
    }

.section-title
    {
    background-color: #2e293d;
    color: whitesmoke;
    padding: 5px;
    padding-left: 10px;
    }