/* :root {
    --main-color:#161d20;
    --color-black: #000;
    --font-main-color: white;
    --font-hover-color: #f0c010;
} */

:root {
    --main-color:#163436;
    --color-black: #3c4f5a;
    --font-main-color: white;
    --font-hover-color: #00a663;
}