.col-1 {
    width: 8.33%
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%
}

.col-5 {
    width: 41.66%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.66%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33%
}

.col-11 {
    width: 91.66%
}

.col-12 {
    width: 100%
}

@media screen and (max-width: 350px) {
    .col-4 {
        width: 100%
    }
}

.col1 {
    padding: 28% 15px 0;
    background-color: red;
}

.col2 {
    padding: 28% 15px 0;
    background-color: yellow;
}

.col3 {
    padding: 28% 15px 0;
    background-color: green;
}

@media screen and (min-width: 1200px) {

    .col1,
    .col2,
    .col3 {
        margin-top: 15px;
        padding: 11% 15px 0;
    }
}