* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  max-width: 75%;
  margin: auto;
}

/* Helper classes */
.container {
  display: flex;
  margin-top: 2rem;
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.41);
  gap: 2rem;
}

/* Header */
header {
  padding: 2rem 0 2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2rem;
}

.main-nav-link > a {
  color: #6c757d;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.main-nav-link > a:hover {
  text-decoration: underline;
  color: #495057;
}

/* About me */

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/building.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.41);
}

#intro > img {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 50%;
  max-width: 10rem;
  height: auto;
}

#intro > h1 {
  font-size: 2.4rem;
  padding-bottom: 0.8rem;
  color: #fff;
}

#intro > h3 {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  color: #fff;
}

.intro-logo {
  color: #fff;
  font-size: 1.6rem;
  padding: 0.3rem;
  padding-bottom: 2rem;
}

.intro-button {
  border: 3px solid #fff;
  margin: 3rem 0 3rem;
  border-radius: 5%;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.8rem 2.4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s 0s linear;
  color: #fff;
}

.intro-button:visited {
  color: #fff;
}
.intro-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 21px 5px rgba(231, 226, 226, 0.65);
}
/* About me */

.about-me-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem 1.8rem 2rem;
}

.about-me-text > h3,
.about-me-bio > h3 {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  color: #495057;
}

.about-me-text > p {
  font-size: 1.2rem;
  color: #495057;
  line-height: 1.8rem;
}

.about-me-bio {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem 0.4rem 2rem;
  gap: 0.8rem;
  font-size: 1.2rem;
}

.bio-placement {
  display: flex;
  gap: 4.2rem;
}

.bio-icons {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.bio-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Skills */
.skills-container {
  display: flex;
  flex-direction: column;
}

.skills-container > h3 {
  font-size: 2.4rem;
  padding: 2rem 1.8rem 0 2rem;
  color: #495057;
}

.skills-left,
.skills-right {
  width: 50%;
  padding: 1.2rem;
}

.skill-item {
  padding: 1.2rem;
}

.skills-wrapper {
  display: flex;
  gap: 2rem;
}

.skill-bar {
  width: 100%;
  background-color: #ddd;
  text-align: center;
}

.skill {
  background-color: red;
}

.css {
  background-color: #cdb4db;
  width: 70%;
  animation: css-anim 2s;
}

.html {
  background-color: #cdb4db;
  width: 90%;
  animation: html-anim 2s;
}

.js {
  background-color: #cdb4db;
  width: 40%;
  animation: js-anim 2s;
}

.ps {
  background-color: #bde0fe;
  width: 90%;
  animation: ps-anim 2s;
}

.figma {
  background-color: #bde0fe;
  width: 60%;
  animation: figma-anim 2s;
}

.sketch {
  background-color: #bde0fe;
  width: 70%;
  animation: sketch-anim 2s;
}

@keyframes js-anim {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}
@keyframes css-anim {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes html-anim {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes ps-anim {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes sketch-anim {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes figma-anim {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
/* Work experience */

.work-exp,
.education {
  display: flex;
  flex-direction: column;
}

.work-exp > h3,
.education > h3 {
  font-size: 2.4rem;
  padding: 2rem 1.8rem 0 2rem;
  color: #495057;
}

.work-exp-list,
.education-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-left: 4rem;
  padding-bottom: 2rem;
}

.work-exp-list {
  visibility: hidden;
}

.active {
  visibility: visible;
  transition: all 0.3s 0s linear;
}

/* Contact form */

.contact {
  flex-direction: column;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.contact > h3 {
  font-size: 2.4rem;
  padding: 2rem 1.8rem 0 2rem;
  color: #495057;
}
